*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: center;
  align-items: end;
  margin: 133px 30px;
}

.result {
  display: grid;
  grid-template-rows: 1fr auto;
  margin-right: 30px;
  gap: 16px;
  margin-top: 78px;
  width: 711px;
  height: 456px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%; 
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.search-form {
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  column-gap: 40px;
  justify-content: start;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.search-form__fieldset {
  width: 225px; 
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 5px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.search-form__checkbox-list > .search-form__label:has(input, span):hover {
  text-decoration: underline;
  cursor: pointer;
}

button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  border: 1px solid currentColor;
  cursor: pointer;
  background-color: transparent;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid #fff;
}

button:hover {
  text-decoration: underline;
}

button:active {
  outline: 1px solid #fff;
  background-color: #545050;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  background-color: transparent;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  width: 100%;
  appearance: none;
  color: #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  gap: 15px;
  justify-content: space-around;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  outline: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-form__pseudo-checkbox:active {
  background-color: #fff;
  outline: 1px solid #fff;
  outline-offset: 3px;
  width: 15px;
  height: 15px;
}

input[type='checkbox']:checked + span {
  background-color: #fff;
  outline: 1px solid #fff;
  outline-offset: 3px;
  width: 15px;
  height: 15px;
}

input {
  appearance: none;
}

.search-form__submit-button {
  width: 100%;
  height: 34px;
  margin-top: 20px;
}

.content__details {
  width: 399px;
  height: 100%;
  display: grid;
  align-items: start;
  gap: 26px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  height: 298px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  display: grid;
  grid-template-rows: auto;
}

li:not(:last-child) {
  padding-bottom: 30px;
}

.content__card-link {
  text-decoration: none;
  display: block; 
  margin: 2px;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link:active {
  outline: 1px solid #fff;
}

.content__card-link:hover {
  text-decoration: underline 1px #fff;
}

.content__card-link:focus-visible {
 outline: 1px solid #fff;
}

.content__card-link_current:focus-visible {
  outline: 2px solid #fff;
}

.content__video-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  justify-content: start;
}

.content__video-card-description-container {
  width: 100%;  
}

div.content__video-card-description-container {
  outline: none;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  padding-bottom: 6px;
  text-transform: uppercase;

}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.more-button {
  width: 100%;
  height: 34px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border: none;
}